@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Hanken+Grotesk:wght@300;400;500;600&family=Solway:wght@700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}




.content-holder{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}


                                        /*Landing Page*/


.landing-page{
    background-image: url(assets/Home.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 1358px;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}


.landing-page h2, h1{
    letter-spacing: 0.086em;
    line-height: 1.4em;
}

.landing-page h2{
    font-family: 'Solway', serif;
    margin-top: 80px;
    font-size: 1.7em;
    font-weight: 800;
    
    
}


.landing-page h1{
    font-family: 'Hammersmith One', sans-serif;
    margin-top: 200px;
    font-weight: 400;
    font-size: 6.6em;

}

.dine{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    margin: 50px auto;
    min-width: 200px;
    min-height: 60px;
    border: none;
}

                                        /*Our Story*/

.our-story, .our-menu {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5ef;
}

.description-holder{
   margin: 40px auto;
   display: flex;
   min-width: 1221px;
   min-height: 600px; 
}

.image-container, .image-container2{
    display: flex;
}


.img-style{                 /*Contains the styles for small images throughout the page*/
    width:287px;
    height:350px;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-style1{                 /*Contains the styles for small images throughout the page*/
    width:287px;
    height:350px;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.os-left{
    margin-top: 20px ;
    margin-right: 31px;
    background-image: url(assets/Our\ Story\ left.png);
}

.os-right{
    margin-top: 230px;
    margin-right: 70px;
    background-image: url(assets/Our\ Story\ right.png);

}

.description{
    margin-top: 100px;
    max-width: 456px;
}

.description h2{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 2.8em;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 0.97em;
}


.description p{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.4em;

}

.book-now{
    background-color: black;
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 115px;
    min-width: 200px;
    min-height: 60px;
    border: none;

}

                                        /*Our Menu*/


.description-holder2{
    margin: 40px auto;
    display: flex;
    align-items: center;
    min-width: 1221px;
    min-height: 600px; 
}

.om-image{
    margin-left: 30px;
    text-align: center;
    text-decoration: underline;
    
}

.om-image p{
    margin-top: 30px;
    font-family: 'Hammersmith One', sans-serif;
    line-height: 1.08em;
    font-size: 1.1em;
}

.om-left-img{
    background-image: url(assets/Our\ Menu\ left.png);
   
}

.om-center-img{
    background-image: url(assets/Our\ Menu\ center.png);
   
}


.om-right-img{
    background-image: url(assets/Our\ Menu\ right.png);
   
}

.description-menu{
    padding-bottom: 220px;
    max-width: 250px;
    margin-right: 50px;
    

}

.description-menu h2{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 2.8em;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 0.97em;
}

.description-menu p{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.4em;
    text-align: justify;

    

}


                                        /*Impressions*/


.impression-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white
}


.impression-page h2{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 2.9em;
    font-weight: 400;
    padding-top: 30px;
    margin-bottom: 60px;
    line-height: 0.97em;
}

.impression-wrapper{
    display: flex;
    align-items: center;
    gap: 100px;
    max-width: 1200px;
    min-height: 500px;
}



.quote-img{
    background-image: url(assets/quote.svg);
    max-width: 35px;
    min-height: 27px;
    background-position-x: right;
    background-size: contain;
    background-repeat: no-repeat;
    rotate: 180deg;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
     margin-bottom: 30px;
}


.impression{
    max-width: 340px;
    min-height: 250px;
}

.impression h3{
    line-height: 1.2em;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1.4em;
    font-weight: 200;
    margin-bottom: 10px;
}


.impression p{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4em;
    margin-bottom: 25px;
}



.impression h4{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.3em;
}


                                        /*Info*/


.info-page{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5ef;

}


.info-image{
    min-width: 600px;
    background-image: url(assets/Visit\ Us.png);
    background-position-y: center;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    
}

.info{
    margin-right: 300px; 
    min-width: 400px;
    min-height: 600px;
}

.info h2{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 2.8em;
    font-weight: 400;
    line-height: 0.97em;
    margin-bottom: 150px;
}

.info h3{
    line-height: 1.2em;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1.3em;
    font-weight: 200;
    margin-bottom: 5px;
}



.info p{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4em;
    margin-bottom: 50px;
}


.info p a{
    text-decoration: none;
    color: black;
}


                                        /*Footer*/


footer{
    background-color: black;
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 300;
    line-height: 1.4em;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;


    
}

footer p span{
    color: #4078c0; 
    font-weight: 500;
}


footer p span a{
    text-decoration: none;
    color: #4078c0; 


}



/* TO DO
    Responsive */