footer{
    min-height: 15vh;
    min-height: 15lvh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

footer h4{
    font-size: 0.8rem;
    font-family: "Hammersmith One", sans-serif;
}


footer a{
    text-decoration: none;
    color: #F3BC69;
}